html {
    position: relative;
    min-height: 100%;
}

#sidebar{
    position:fixed;
    left: 100;
    top: 10;
    bottom: 100;
}

#footer{
    position: absolute;
    bottom: 0;
    right: 200;
}
 
.centrer{
    text-align: center;
}